.list-wrapper{
    color: var(--clr-white);
    min-width: 800px;
    margin: 20px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(55, 52, 52);
}

table {
    
    min-width: 800px;
    margin: 20px 0px;
    padding: 30px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: var(--clr-white);
    color: var(--clr-primary);
}

tr:nth-child(even) {
    background-color: var(--clr-white);
    color: var(--clr-primary);
}
tr:nth-child(odd) {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.button.delete {
    padding: 5px 10px;
    margin: 2px;
    color: var( --clr-pumpkin);
}
.button.update {
    padding: 5px 10px;
    margin: 2px;
    color: #45a049;
}

.icon {
    width: 13px;
  }